/* button {
    height: 2rem;
    font-size: x-small;
} */
/* .card-title {
    text-decoration: none;
    color: black;
} */
.cardProductImage {
    height: 310px;
    border-bottom: 1px solid black;
  }
  
  .cardDiv {
    padding: 0px;
    width: 100%;
    border-radius: 6px;
  }
  
  .cardListTitle {
    text-align: center;
    font-size: 18px;
  }
  
  .heartIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
  }
  .heartIcon:hover {
    color: red;
  }
.cartListPrice {
  display: flex;
  justify-content: space-between;
}