body {
  background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
  min-height: 45rem;
}
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.d-block{
  height: 40rem;
}
.btns {
  display: flex;
  justify-content: space-evenly;
}
.inputs {
  display: flex;
  justify-content: space-between;
}
.inputs div {
  width: 50%;
}
.card-title {
  text-align: left;
}
.card-text {
  text-align: left;
}
.btnItem {
  width: 33%;
}
.input {
  border-left: 3px solid silver;
  border-right: 3px solid silver;
  width: 40rem;
  justify-content: center;
  margin:  2rem auto 2rem auto;
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 30rem;
}
@media (max-width: 400px){
  .login-form{
    padding: 0.5rem;
  }
}
.single-input input{
  width: 100%;
}
.single-input {
  margin: 1rem;
}
h1 {
  text-align: center;
}
.input-error {
  color: red;
  font-size: x-small;
}
.page-footer {
 position: fixed;
 bottom: 0;
 width: 100%;
 background-color: white;
}
footer {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  color: rgb(77, 77, 77);
  background-color: white;
  opacity: 0.4;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;

}
.header__pages__content {
  display: flex;
}
.nav-link {
  padding: 0.5rem;
}

.main-content {
  display: flex;
  justify-content: center;
}
.singleproduct-page {
  display: flex;
  justify-content: center;
}
.for-media{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-container {
  display: flex;
  border-radius: 80px;
  background: gray;
}
.icon {
  padding: 0rem 0.6rem;
  color: white;
}
.select-input {
  width: 100%;
}
.star {
  color: yellow;
}
.single-card {
  display: flex;
  padding: 4rem 15rem;
}
.carousel-inner {
  height: 20rem;
  width: 100%;
}
@media (max-width:1007px){
  .single-card{
    flex-direction: column;
  }
  .carousel-inner{
    width: 100%;
  }
}
@media (max-width:870px){
  .single-card {
    padding: 4rem 10rem;;
  }
}
@media (max-width:720px){
  .single-card {
    padding: 4rem 2rem;;
  }
}
 .products-page {
  display: flex;
  margin: 1rem;
  justify-content: center;
 }
 .sort-nav {
  padding: 2rem;
  background: #8EB7EB;
  flex-wrap: wrap;
 }
 @media (max-width:620px){
  .products-page{
    flex-direction: column;
  }
  .sort-nav{
    display: flex;
    justify-content: space-between;
    
  }
 }
.side-bar {
  display: flex;
}
.my-account {
  display: flex;
  justify-content: space-around;
  margin: 4rem;
}