.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.d-block{
  height: 40rem;
}
.btns {
  display: flex;
  justify-content: space-evenly;
}
.inputs {
  display: flex;
  justify-content: space-between;
}
.inputs div {
  width: 50%;
}
.card-title {
  text-align: left;
}
.card-text {
  text-align: left;
}
.btnItem {
  width: 33%;
}
.input {
  border-left: 3px solid silver;
  border-right: 3px solid silver;
  width: 40rem;
  justify-content: center;
  margin:  2rem auto 2rem auto;
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 40rem;
}
.single-input input{
  width: 100%;
}
.single-input {
  margin: 1rem;
}
h1 {
  text-align: center;
}
.input-error {
  color: red;
  font-size: x-small;
}
.page-footer {
 position: fixed;
 bottom: 0;
 width: 100%;
 background-color: white;
}
footer {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  color: rgb(77, 77, 77);
  background-color: white;
  opacity: 0.4;
}
.navbar {
  display: flex;
  justify-content: space-evenly;

}
.header__pages__content {
  display: flex;
}
.nav-link {
  padding: 0.5rem;
}
.homepage-title{
  text-align: center;
}
.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.homepage-desc {
  text-align: center;
}
.main-content {
  display: flex;
  justify-content: center;
}
.singleproduct-page {
  display: flex;
  justify-content: center;
}
.for-media{
  width: 95%;
}
.input-container {
  display: flex;
 
  background: gray;
}
.icon {
  padding: 0rem 0.6rem;
  color: white;
}
.select-input {
  width: 100%;
}
