.App {
  text-align: center;
}

.d-block{
  height: 40rem;
}
.btns {
  display: flex;
  justify-content: space-evenly;
}
.inputs {
  display: flex;
  justify-content: space-between;
}
.inputs div {
  width: 50%;
}
.card-title {
  text-align: left;
}
.card-text {
  text-align: left;
}
.btnItem {
  width: 33%;
}
